{% extends 'main.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block section %}{{ _section }}{% endblock %}
{% block header_nav_container %}
    {% embed "assets/header-section.twig" %}{% endembed %}
{% endblock %}
{% block content %}
	{# Page Header #}
	{% embed "assets/page-header.twig" %}{% endembed %}

    {# Content #}
    {% embed "como-ayudar/cuestionario/container.twig" %}{% endembed %}
    
{% endblock content %}