<!-- =========================
         CONTACT SECTION
    ============================== -->
    <section id="contact3-1" class="p-y-lg contact bg-edit">
        <div class="container">
            <!-- Section Header -->
            {# <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="section-header text-center wow fadeIn">
                                    <h2>Ready to Get Started?</h2>
                                    <p class="lead">Want to hire the best people around to design, develop, and turn your project into reality? Well look no further! Take your business to the next level.</p>    
                                </div>
                            </div>
                        </div> #}

            <div class="row c2">
                <div class="col-md-6 col-md-offset-3">
                    <!-- Contact Form -->
                    <h4 class="f-w-900 m-b-md">Contacto</h4>
                    <form class="form-horizontal form-action" id="form-contacto">

                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre completo">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="correo" id="correo" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea id="mensaje" name="mensaje" rows="5" class="form-control" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="form-group m-b-0">
                            <button type="button" id="send-data-contacto" class="btn btn-blue wow pulse action-button" data-wow-iteration="2" onClick="VOLU.sendFromContacto($('#nombre').val(), $('#correo').val(), $('#mensaje').val(), '{{ _host }}');">Enviar</button>
                        </div>
                    </form>
                </div><!-- /End Col -->
                <div class="loader_gif"></div>

            </div><!-- /End Row -->
        
        </div><!-- /End Container -->
    </section>   
    <!-- /End Contact Section -->