{#- =========================
     HEADER
============================== #}
<header id="nav1-3">
    <nav class="navbar navbar-fixed-top bg-transparent monako" id="main-navbar">
        <div class="container">

            <div class="navbar-header">
                {#- Menu Button for Mobile Devices #}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                {#- Image Logo #}
                {#-
                recommended sizes
                    width: 150px;
                    height: 35px;
                #}
                <a href="{{ _host }}" class="navbar-brand logo-black smooth-scroll img-size"><img src="{{ _host }}img/assets/logo/logo-nupali-hor.png" alt="logo" /></a>
                <a href="{{ _host }}" class="navbar-brand logo-white smooth-scroll img-size"><img src="{{ _host }}img/assets/logo/logo-nupali-hor.png" alt="logo" /></a>
            </div>{#- /End Navbar Header #}

            <div class="collapse navbar-collapse" id="navbar-collapse">
                {#- Menu Links #}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ _host }}">
                            {# <i class="fa fa-home fa-fw fa-lg" aria-hidden="true"></i> #} Inicio
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="{{ _host }}#nosotros"{# id="dLabel" data-toggle="dropdown" data-target="#" #}>
                            {# <i class="fa fa-users fa-fw fa-lg" aria-hidden="true"></i>  #}Nosotros {# <span class="caret"></span> #}
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li>
                                <a href="{{ _host }}#nosotros">
                                    Misión
                                </a>
                            </li>
                            <li>
                                <a href="{{ _host }}#nosotros">
                                    Visión
                                </a>
                            </li>
                            <li>
                                <a href="{{ _host }}#nosotros">
                                    Valores
                                </a>
                            </li>
                            <li>
                                <a href="{{ _host }}#nosotros">
                                    Historia
                                </a>
                            </li>
                            <li>
                                <a href="{{ _host }}#nosotros">
                                    Crew
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ _host }}#proyectos" id="dLabel" data-toggle="dropdown" data-target="#">
                            {# <i class="fa fa-object-group fa-fw fa-lg" aria-hidden="true"></i> #} Proyectos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li>
                                <a href="{{ _host }}proyectos/elemental-parque-libre">{# <i class="fa fa-tree fa-fw fa-lg" style="margin-right: 10px;" aria-hidden="true"></i> #}Elemental Parque Libre</a>
                            </li>
                            <li>
                                <a href="{{ _host }}proyectos/paseos-por-la-igualdad">{# <i class="fa fa-wheelchair fa-fw fa-lg" style="margin-right: 10px;" aria-hidden="true"></i> #}Paseos por la Igualdad</a>
                            </li>
                            <li>
                                <a href="{{ _host }}proyectos/ser-mejor">{# <i class="fa fa-wheelchair fa-fw fa-lg" style="margin-right: 10px;" aria-hidden="true"></i> #}Ser Mejor</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ _host }}#logros">
                            {# <i class="fa fa-check-square-o fa-fw fa-lg" aria-hidden="true"></i> #} Logros
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="{{ _host }}#galeria" id="dLabel" data-toggle="dropdown" data-target="#">
                            {# <i class="fa fa-picture-o fa-fw fa-lg" aria-hidden="true"></i> #}  Galerías <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li>
                                <a href="{{ _host }}galerias/asistencia-social">Asistencia Social</a>
                            </li>
                            <li>
                                <a href="{{ _host }}galerias/fomento-derechos-humanos">Fomento a los derechos humanos</a>
                            </li>
                            <li>
                                <a href="{{ _host }}galerias/participacion-comunitaria">Participación comunitaria</a>
                            </li>
                            <li>
                                <a href="{{ _host }}galerias/recuperacion-espacio-publico">Recuperación de espacio público</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ _host }}#equipo">
                            {# <i class="fa fa-newspaper-o fa-fw fa-lg" aria-hidden="true"></i> #} Equipo Nupali
                        </a>
                    </li>
                    <!--<li>
                        <a href="{{ _host }}noticias">
                            {# <i class="fa fa-newspaper-o fa-fw fa-lg" aria-hidden="true"></i> #} Noticias
                        </a>
                    </li>-->
                    <li class="dropdown">
                        <a href="{{ _host }}como-ayudar" id="dLabel" data-toggle="dropdown" data-target="#">
                            {# <i class="fa fa-question-circle fa-fw fa-lg" aria-hidden="true"></i> #} ¿Cómo Ayudar? <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li>
                                <a href="{{ _host }}como-ayudar/voluntarios">{# <i class="fa fa-users fa-fw fa-lg" style="margin-right: 10px;" aria-hidden="true"></i> #} Voluntarios</a>
                            </li>
                            <li>
                                <a href="{{ _host }}como-ayudar/donativos">{# <i class="fa fa-usd fa-fw fa-lg" style="margin-right: 10px;" aria-hidden="true"></i> #}Donativos</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ _host }}contacto">
                            {# <i class="fa fa-envelope-o fa-fw fa-lg" aria-hidden="true"></i> #} Contacto
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/nupaliac/" class="icon-button instagram footer-icon grey-text text-lighten-3" target="_blank" data-title="Social Media - instagram" title="Instagram">
                            <i class="fa fa-instagram"></i>
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Nupali-589518057826208/?fref=ts" class="icon-button facebook footer-icon grey-text text-lighten-3" target="_blank" data-title="Social Media - Facebook" title="Facebook">
                            <i class="fa fa-facebook"></i>
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/NupaliAC" class="icon-button twitter footer-icon grey-text text-lighten-3" target="_blank" data-title="Social Media - Twitter" title="Twitter">
                            <i class="fa fa-twitter"></i>
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCuNsBHgJJrgcc-jvUsLfbeg" class="icon-button youtube footer-icon grey-text text-lighten-3" target="_blank" data-title="Social Media - Youtube" title="Youtube">
                            <i class="fa fa-youtube"></i>
                            <span></span>
                        </a>
                    </li>
                </ul>{#- /End Menu Links #}
            </div>{#- /End Navbar Collapse #}

        </div>{#- /End Container #}
    </nav>{#- /End Navbar #}
</header>
