{% extends 'main.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block section %}{{ _section }}{% endblock %}
{% block header_nav_container %}
    {% embed "assets/header-section.twig" %}{% endembed %}
{% endblock %}
{% block content %}
	{# Page Header #}
	{% embed "assets/page-header.twig" %}{% endembed %}
    {# Container #}
    {% embed "proyectos/ser-mejor/container.twig" %}{% endembed %}
{% endblock content %}
{% block initScripts %}
    $( '.swipebox' ).swipebox();
    $( '.swipebox-video' ).swipebox();
{% endblock %}
