<section class="p-y-md">
    <div class="container">
        <div class="row">
            <div class="wrap small-width p-t">
                {#<h3 class="monako">Paseos por la igualdad</h3>#}
                <hr>
                <div id="try"></div>
                <p>El programa ofrece 3 talleres incluyentes enfocados a presentar soluciones a profundas problemáticas sociales que afectan a las personas con discapacidad en la entidad.
                  Los talleres se imparten de manera independiente y se llevan a cabo en distintas sedes.
                  Cada uno de ellos es dirigido por expertos en la materia y se brinda seguimiento personalizado al beneficiario para garantizar el impacto del programa en su capacitación y sensibilización.</p>
                <hr>
                <h3 class="monako">Problemática.</h3>
                <p>La principal problemática es la exclusión social de las personas con discapacidad en el país, que por el hecho de vivir con discapacidad viven condiciones de rechazo, impedimentos para desarrollarse productivamente, rezago educativo y demás formas de discriminación. La solución al problema se presenta al combinar un programa de capacitación y acompañamiento a personas con discapacidad para desarrollar sus aptitudes y lograr su plenitud, con sensibilización comunitaria en inclusión social para identificar las causas y eliminar las conductas discriminatorias.</p>
                <hr>
                <h3 class="monako">Justificación del proyecto en relacion a la ONU.</h3>
                <p>El proyecto está alineado a diversos artículos de la convención, entre ellos:</p>
                <div id="try"></div>
                <ul>
                    <li>
                        8 (Toma de conciencia) al generar sensibilización y fomentar el respeto de los derechos humanos sin distinción, además de impulsar el reconocimiento de las habilidades de las personas con discapacidad y sus aportaciones a la comunidad.
                    </li>
                    <li>
                        20 (Movilidad personal) al impulsar a personas con discapacidad a entender la disposición de su entorno y facilitando el acceso a tecnologías de apoyo.
                    </li>
                    <li>
                        24 (Educación) Al ayudar a desarrollar el potencial humano y el sentido de dignidad y autoestima, personalidad, talento y creatividad de las personas con discapacidad e impulsarlas a participar de manera plena en la sociedad.
                    </li>
                </ul>
                <hr>
                <h3 class="monako">Los talleres.</h3>
                <hr>
                <div id="try"></div>
                <ul>
                    <li>
                        Curso de lenguaje de señas mexicano.
                    </li>
                    <li>
                        Movilidad efectiva e inclusión social para personas con discapacidad visual.
                    </li>
                    <li>
                        Modelado en barro para personas con discapacidad intelectual
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
</section>
<section id="portfolio1-1" class="p-y-md" data-block="galeria">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Galeria.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-001-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-001-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-002-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-002-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-003-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-003-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-004-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-004-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-005-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-005-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-006-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-006-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-007-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-007-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-008-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-008-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-009-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-009-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-010-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-010-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-011-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-011-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-012-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-012-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-013-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-013-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-014-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-014-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-015-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-015-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-016-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-016-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-017-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-017-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-018-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-018-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-019-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-019-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-020-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-020-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-021-ser-mejor-curso.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-021-ser-mejor-curso.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-022-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-022-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-023-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-023-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-024-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-024-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-025-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-025-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-026-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-026-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-027-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-027-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/IMG-028-ser-mejor.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/IMG-028-ser-mejor.jpg" alt="image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md" data-block="redes-sociales" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Redes sociales.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="https://www.facebook.com/paseosporlaigualdad/" target="_blank" class="this-button red-social facebook" title="Street">
                            <span>
                                <i class="fa fa-facebook"></i>
                            </span>
                            Facebook
                        </a>
                    </li>
                    <li class="box">
                        <a href="https://www.instagram.com/paseosporlaigualdad/?hl=en" target="_blank" class="this-button red-social instagram" title="Street">
                            <span>
                                <i class="fa fa-instagram"></i>
                            </span>
                            Instagram
                        </a>
                    </li>
                    <li class="box">
                        <a href="https://www.youtube.com/watch?v=R5w9I_TZNwQ" target="_blank" class="this-button red-social youtube" title="Street">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                            Youtube
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <style type="text/css">
            .box .this-button {
                display: inline-block;
                height: 50px;
                line-height: 50px;
                padding-right: 30px;
                padding-left: 70px;
                position: relative;
                background-color:rgb(41,127,184);
                color:rgb(255,255,255);
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 15px;


                border-radius: 2px;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                text-shadow:0px 1px 0px rgba(0,0,0,0.5);
                -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
                filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

                -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
                -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
                box-shadow:0px 2px 2px rgba(0,0,0,0.2);
                -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
                filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
            }
            .box .this-button span {
                position: absolute;
                left: 0;
                width: 50px;
                background-color:rgba(0,0,0,0.5);

                -webkit-border-top-left-radius: 5px;
                -webkit-border-bottom-left-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-bottomleft: 5px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-right: 1px solid  rgba(0,0,0,0.15);
            }
            .box .this-button span i {
                padding: 0 19px;
            }
            .box .this-button:hover span, .box .this-button.active span {
                  background-color:rgb(0,102,26);
                  border-right: 1px solid  rgba(0,0,0,0.3);
            }
            .box .this-button:active {
                margin-top: 2px;
                margin-bottom: 13px;

                -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
                -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
                box-shadow:0px 1px 0px rgba(255,255,255,0.5);
                -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
                filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true);
            }
            .box .this-button,
            .box .this-button span {
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }
            .box .this-button.red-social.facebook {
                background: #3B5998;
            }
            .box .this-button.red-social.instagram {
                background: #8a3ab9;
            }
            .box .this-button.red-social.youtube {
                background: #f45750;
            }
            .box .this-button.red-social.facebook:hover,
            .box .this-button.red-social.facebook:active,
            .box .this-button.red-social.facebook:focus,
            .box .this-button.red-social.facebook.active {
                background-color: #3b5998e6;
            }
            .box .this-button.red-social.facebook:hover span,
            .box .this-button.red-social.facebook:active span,
            .box .this-button.red-social.facebook:focus span,
            .box .this-button.red-social.facebookactive span {
                background: #3B5998;
            }
            .box .this-button.red-social.instagram:hover,
            .box .this-button.red-social.instagram:active,
            .box .this-button.red-social.instagram:focus,
            .box .this-button.red-social.instagram.active {
                background: #8a3ab9e6;
            }
            .box .this-button.red-social.instagram:hover span,
            .box .this-button.red-social.instagram:active span,
            .box .this-button.red-social.instagram:focus span,
            .box .this-button.red-social.instagramactive span {
                background: #8a3ab9;
            }
            .box .this-button.red-social.youtube:hover,
            .box .this-button.red-social.youtube:active,
            .box .this-button.red-social.youtube:focus,
            .box .this-button.red-social.youtube.active {
                background: #f45750e6;
            }
            .box .this-button.red-social.youtube:hover span,
            .box .this-button.red-social.youtube:active span,
            .box .this-button.red-social.youtube:focus span,
            .box .this-button.red-social.youtubeactive span {
                background: #f45750;
            }
            .box .this-button.orange {
                 background: #FF7F00;
            }
            .box .this-button.purple {
                background: #8e44ad;
            }
            .box .this-button.turquoise {
                 background: #1abc9c;
            }
            .box .this-button.red {
                background: #e74c3c;
            }
        </style>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md" data-block="dossier" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Dossier.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="{{ _host }}img/assets/proyectos/ser-mejor/pdf/DossierPaseosporlaIgualdad-Jalisco.pdf" class="" target="_blank" title="Street" >
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/dossier-ser-mejor.jpg" alt="image">
                            <p class="monako">Dossier Paseos por la igualdad.</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md" data-block="resultados">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Videos.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=E3Oj1WqlgzQ">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/video/thumb/01-evelia-corazon.video.jpg" alt="image">
                            <p class="monako">Ser Mejor - Taller de modelado de barro para personas con discapacidad intelectual - Evelia corazón</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=YNO8WXG60UU">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/video/thumb/02-evelia-corazon.jpg" alt="image">
                            <p class="monako">Ser Mejor - Taller de modelado de barro para personas con discapacidad intelectual - Evelia e Irma</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=mWXeaJwtOjw">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/video/thumb/03-ser-mejor-curso.jpg" alt="image">
                            <p class="monako">Ser Mejor - curso</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md" data-block="noticias" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Noticias</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a class="enlace" href="http://udgtv.com/noticias/jalisco/presentan-programa-ser-mejor-para-conocer-la-discapacidad/" target="_blank">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/ser-mejor-conociendo-discapacidad.jpg" alt="image">
                            <p class="monako">Paseos por la igualdad, conociendo la discapacidad.</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="enlace" href="https://www.facebook.com/c7.jalisco/videos/537834166382255/?autoplay_reason=all_page_organic_allowed&video_container_type=0&video_creator_product_type=2&app_id=2392950137&live_video_guests=0" target="_blank">
                            <img src="{{ _host }}img/assets/proyectos/ser-mejor/thumb/c7-jalisco-noticia-01.jpg" alt="image">
                            <p class="monako">C7 Jalisco</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<!-- /End Portfolio Section -->
<style type="text/css">
    .small-width {
        max-width: 740px;
    }

    .wrap {
        margin: 0 auto;
        max-width: 1140px;
        width: 92%;
    }

    #box-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .box:nth-child(4n+1) {
        clear: both;
        margin-left: 0;
    }
    .box {
        list-style-type: none;
        float: left;
        margin-bottom: 1rem;
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
    .box a {
        display: block;
        width: 100%;
        height: auto;
    }
    .box a img {
        -webkit-back-visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    body .box a  img {
        opacity: 1 !important;
    }
    .box a>img {
        -webkit-backface-visibility: hidden;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }
    .box a img {
        max-width: 100%;
        height: auto;
    }
    .box a img {
        border: 0;
    }
    .box a p {
        font-size: 20px;
        color: rgba(12, 165, 228, 0.6588235294117647);
        font-weight: bold;
        text-align: center;
        margin: 13px auto;
    }
</style>
