<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="es-MX" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="es-MX" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="es-MX" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="es-MX" class="no-js lt-ie10"> <![endif]-->
    <html class="no-js" lang="es">
	    <head>
	        {% block head %}
	            <meta charset="utf-8">
	            <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	            <meta http-equiv='cache-control' content='no-cache' />
	            <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	            <meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0' />

	            <meta name="title" content="{{ _title }}">
	            <meta name="identifier-url" content="{{ _host }}" />
	            <meta name="description" content="{{ tag_description }}" />
	            <meta name="keywords" content="{{ tag_keywords }}" />
	            <meta name="author" content="{{ tag_author }}">
	            <meta itemprop="image" content="{{ _host }}{{ tag_image }}">

	            {# TITLE OF SITE #}
	            <title>
	                {% block title %}
	                    {{ _title }}
	                {% endblock %}
	            </title>

	            {% block links %}
	                {# FAVICON #}
	                {# Place your favicon.ico in the img directory #}
	                <link rel="shortcut icon" href="{{ _host }}img/assets/ico/nupali.ico" type="image/x-icon">
	                <link rel="icon" href="{{ _host }}img/assets/ico/nupali.ico" type="image/x-icon">

	                {# CUSTOM STYLESHEET #}
	                <link rel="stylesheet" href="{{ _host }}css/core.css">
	                <!-- =========================
	                     STYLESHEETS
	                ============================== -->

	                <!-- FONT ICONS -->
	                <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	                <!-- GOOGLE FONTS -->
	                <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	            {% endblock %}

	            {# HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries #}
	            {# WARNING: Respond.js doesn't work if you view the page via file:// #}
	            <!--[if lt IE 9]>
	              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	            <![endif]-->
	        {% endblock %}
	        {#
	            <!-- FAVICON  -->
	        #}
	    <head>
		<body data-spy="scroll" data-target="#main-navbar" class="nupali" data-inclusion="Bienvenido a la página de Nupali.">

	        {# loader #}
          {% embed "assets/loader.twig" %}{% endembed %}

	        <div class="main-container" id="page">

              <input type="hidden" name="section" id="section" value="{% block section %}{{ _section }}{% endblock %}">

              {# header nav #}
              {% block header_nav_container %}{% endblock %}

              {# Container #}
              {% block content %}{% endblock content %}

              {# footer #}
              {% embed "assets/footer.twig" %}{% endembed %}

              </div>{# /End Main Container #}

              {# Back to Top Button #}
              <a href="#" class="top" style="background-color:#00b1e8;">Top</a>

        	{# =========================
	             SCRIPTS
	        ============================== #}
	        <script src="{{ _host }}lib/assets/plugins/jquery1.11.2.min.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/bootstrap.min.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/jquery.easing.1.3.min.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/jquery.countTo.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/jquery.formchimp.min.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/jquery.jCounter-0.1.4.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/jquery.magnific-popup.min.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/jquery.vide.min.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/owl.carousel.min.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/spectragram.min.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/twitterFetcher_min.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/wow.min.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/picker.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/picker.date.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/venobox.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/moment.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/modal-responsive.js"></script>
	        {#
	        <script src="{{ _host }}lib/assets/plugins/artyom.window.js"></script>
	        #}
	        <script src="{{ _host }}lib/assets/plugins/alertify.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/jquery-bxslider.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/jquery.swipebox.js"></script>
	        <script src="{{ _host }}lib/assets/plugins/scrollspy.js"></script>

	        {# Custom Script #}
	        {#
	    	<!--solely for development-->
	        <script src="{{ _host }}js/min/core.min.js"></script>
	        #}
	        <!--solely foy production-->
	        <script src="{{ _host }}js/assets/model.js"></script>
	        <script src="{{ _host }}js/assets/method.js"></script>
	        <script src="{{ _host }}js/assets/main.js"></script>
	        <script src="{{ _host }}js/custom.js"></script>
	        <script>
	        	{% block initScripts %}{% endblock %}
	        </script>
		</body>
	</html>
