<section class="p-y-md">
    <div class="container">
        <div class="row">
            <div class="wrap small-width p-t">
                {#<h2 class="monako">ELEMENTAL PARQUE LIBRE.</h2>#}
                <hr>
                <div id="try"></div>
                <p>Concebir el espacio público como eje de la comunidad y escenario de diversidad, expresión y manifestación cultural y sociopolítica, contribuyendo al mejoramiento de la comunidad a través de la apropiación de los mismos</p>
                <p>Elemental Parque Libre, modifica espacios públicos en abandono y los adapta para su óptimo aprovechamiento fomentando las 7 artes, el respeto por la naturaleza, la cultura, el deporte y la sana convivencia a través de diferentes clases impartidas por la comunidad: tales como: baile salsa, pintura, danza mexica, yoga, artes marciales, asesoría nutricional, entrenamiento físico, educación ambiental, conciertos, entre otros que buscan participación comunitaria con el fin de crear un tejido social que responda al rápido crecimiento de los lugares de esparcimiento con fines comerciales.</p>
                <p>En Elemental, creemos que todos podemos enseñar algo o podemos aprender algo. Con esa premisa, creamos e impartimos varias actividades, todas sin costo, algunas que mencionamos:</p>
                <hr>
                <ul>
                    <li>Más de 450 clases impartidas en cursos semestrales de las siguientes actividades: Danza mexica, meditación guiada, ritmos latinos, artes marciales mixtas, hapkido, taller de pintura, hata yoga, yoga de la risa. </li>
                    <li>Más de 15 diferentes talleres infantiles impartidos: Pintura, cuenta cuentos, moldeado de barro, yoga, entrenador canino, fabricación de juguetes y artículos decorativos con materiales reciclables (Pajareras, macetas, rehiletes, instrumentos, etc.), realización de bombas de semillas, huerto en casa, etc</li>
                    <li>Creación el círculo de danza “Mochipa Mazehual” que busca promover la cultura mexicana prehispánica en espacios públicos o privados a través de danza y ceremonias tradicionales mexicanas.</li>
                    <li>Más de 450 personas en situación de calle y/o migrantes de paso apoyados con alimentación, vestido y calzado.</li>
                    <li>Primera etapa llevada a cabo del programa “Reto Total” que brinda asesoría nutricional, entrenamiento físico, programa de ejercicios y seguimiento especial para buscar reducir el peso de los participantes y mejorar su salud física y emocional. </li>
                    <li>2 eventos realizados con apoyo de “Pensión GTDA Guadalajara” en los que se adoptaron responsablemente a 12 perros y 1 gato, además de ofrecer vacunación antirrábica gratuita a más de 40 mascotas con ayuda de personal de Sanidad Animal de Zapopan.</li>
                    <li>Clases deportivas y entrenamiento físico en colaboración con “SportCity Galerías” (Extreme Workout, Spartan Race, Runfreaks, etc.).</li>
                    <li>Caminata “Jane ́s Walk” que busca unir a la comunidad a través del conocimiento de sus espacios públicos, calles y banquetas.</li>
                    <li>Tres eventos eco-artísticos realizados, en los que se promueve el arte, cultura, educación ambiental, e integración social; Con talleres, presentaciones y conciertos, performance artísticos, pláticas, etc. Además de promover artículos que favorezcan la producción y economía local, con bazares orgánicos y naturales con más de 80 marcas locales participantes.</li>
                    <li>Acopio de ropa, calzado, artículos educativos, deportivos entre otros en colaboración con “Gratiferia Gdl” realizando “Gratiferias” en las que cualquiera puede llevar diversos artículos en muy buen estado y se ponen a disposición de los asistentes como libre intercambio, con la única restricción de: Toma todo lo que necesites, mas no todo lo que quieras.</li>
                    <li>Creación del programa de desarrollo de proyectos sustentables con vinculación universitaria, participando hasta el momento con grupos de alumnos de la Universidad Panamericana, Universidad del Valle de Atemajac, Instituto de bachilleres Enrique Díaz de León, Centro de Artes Audiovisuales, Universidad de Especialidades, etc. Con la instalación de un colector primario de aguas pluviales, fabricación de compostero comunitario, realización de plan de comunicación y mercadotecnia, levantamiento de datos y encuestas.</li>
                    <li>Remoción de 15 árboles secos que presentaban riesgo de caída y compromiso de las autoridades ambientales de la extracción de otros 22 árboles en las mismas condiciones.</li>
                    <li>Reforestación supervisada por expertos de CONAFOR con más de 40 árboles endémicos.</li>
                    <li>Colocación de 5 tapas de bocas de tormenta, abiertas y generadoras de riesgo, gracias a la gestión con personal de SIAPA.</li>
                    <li>Reparación de alumbrado en espacios públicos con más de 35 luminarias.</li>
                </ul>
                <hr>
                {# ========================= PORTFOLIO ============================== #}


                {# GALERIA #}
                {#
                    Anexar infor del proyecto, fotos, resultados y redes sociales
                    -> REDES SOCIALES
                    Facebook: https://www.facebook.com/eparquelibre/
                    Instagram: https://www.instagram.com/elementalparquelibre/?hl=en
                    Youtube: https://www.youtube.com/watch?v=jZpOBxC-abw
                    -> RESULTADOS
                    https://www.youtube.com/watch?v=6O8DemP4uQ8
                    https://www.youtube.com/watch?v=l4WgTajRbNQ
                    https://www.youtube.com/watch?v=D7xDueiAzS0
                    https://www.youtube.com/watch?v=iEnk--qA7K0
                #}

                {# Videos (YOUTUBE) #}
                {# #elementalparquelibre @elementalparquelibre  Facebook – Instagram, Participantes, Noticias #}
            </div>
        </div>
    </div>
</section>
<section id="portfolio1-1" class="p-y-md">
    <div class="container">
        <div class="row">
            {% embed 'proyectos/elemental-parque-libre/galeria.twig' %}{% endembed %}
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md">
    <div class="container">
        <div class="row">
            {% embed 'proyectos/elemental-parque-libre/social_media.twig' %}{% endembed %}
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md">
    <div class="container">
        <div class="row">
            {% embed 'proyectos/elemental-parque-libre/resultados.twig' %}{% endembed %}
        </div>
    </div><!-- /End Container -->
</section>
<!-- /End Portfolio Section -->
<style type="text/css">
    .small-width {
        max-width: 740px;
    }

    .wrap {
        margin: 0 auto;
        max-width: 1140px;
        width: 92%;
    }

    #box-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .box:nth-child(4n+1) {
        clear: both;
        margin-left: 0;
    }
    .box {
        list-style-type: none;
        float: left;
        margin-bottom: 1rem;
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
    .box a {
        display: block;
        width: 100%;
        height: auto;
    }
    .box a img {
        -webkit-back-visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    body .box a  img {
        opacity: 1 !important;
    }
    .box a>img {
        -webkit-backface-visibility: hidden;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }
    .box a img {
        max-width: 100%;
        height: auto;
    }
    .box a img {
        border: 0;
    }
    .box a p {
        font-size: 20px;
        color: rgba(12, 165, 228, 0.6588235294117647);
        font-weight: bold;
        text-align: center;
        margin: 13px auto;
    }
</style>