<section class="p-y-md">
    <div class="container">
        <div class="row">
            <div class="wrap small-width p-t">
                {#<h3 class="monako">Paseos por la igualdad</h3>#}
                <hr>
                <div id="try"></div>
                <p>Es una serie de pabellones interactivos creados por Nupali A.C. que buscan sensibilizar a los visitantes acerca de los obstáculos que viven día con día las personas con discapacidad en México. Cada pabellón, cuenta con un recorrido único durante el cual, los asistentes experimentan virtualmente la sensación de vivir momentáneamente con alguna limitante física y cómo es realizar algunas actividades “cotidianas” tan básicas como cruzar la calle, utilizar el transporte público o simplemente cambiarse de ropa.</p>

                <p>Las 3 variantes de pabellones existentes han sido diseñados en conjunto con distintas organizaciones y colaboradores especiales que viven la discapacidad en cuestión, y están habilitados con un circuito de actividades guiadas que buscan que los participantes se sientan identificados con las barreras a las que se enfrentan las personas con los siguientes tipos discapacidad: personas de talla baja (LA MEDIDA DE LO EXTRAORDINARIO), discapacidad visual (MÁS ALLÁ DE LAS SOMBRAS) y discapacidad motora / usuarios de silla de ruedas (A RODAR LA VIDA).</p>

                <p>Los pabellones se exhiben de manera individual y cada activación se abre al público durante periodos de 21 días efectivos, impactando directamente un promedio superior a 1,000 personas cada uno.</p>

                <p>El proyecto ha sido replicado en 4 ocasiones durante 2015 y 2016, consiguiendo el impacto directo en un porcentaje de la población Jalisciense que está relacionado con alguna discapacidad, generando soluciones a problemas de movilidad y derechos humanos, entre otras.</p>
                <hr>
                <h3 class="monako">Locaciones.</h3>
                <hr>
                <div id="try"></div>
                <ul>
                    <li>
                        <b class="monako">Guadalajara</b> <span>Plaza Liberación, Julio 2015.</span>
                    </li>
                    <li>
                        <b class="monako">Guadalajara</b> <span>Plaza Iberoamérica H. Cultural Cabañas, Septiembre 2015.</span>
                    </li>
                    <li>
                        <b class="monako">Zapopan</b> <span>Parque Metropolitano, Noviembre 2015.</span>
                    </li>
                    <li>
                        <b class="monako">Guadalajara</b> <span>Plaza Liberación, Octubre 2016.</span>
                    </li>
                </ul>
                <hr>
                <p>Actualmente el equipo de Nupali A..C. trabaja diseñando 2 pabellones más que esperamos muy pronto podamos compartir.</p>

                {# GALERIA #}
                {#
                    Facebook: https://www.facebook.com/paseosporlaigualdad/
                    Instagram: https://www.instagram.com/paseosporlaigualdad/?hl=en
                    YouTube:  https://www.youtube.com/watch?v=R5w9I_TZNwQ

                    http://udgtv.com/noticias/jalisco/presentan-programa-paseos-por-la-igualdad-para-conocer-la-discapacidad/
                    https://www.facebook.com/c7.jalisco/videos/537834166382255/?autoplay_reason=all_page_organic_allowed&video_container_type=0&video_creator_product_type=2&app_id=2392950137&live_video_guests=0
                    https://www.youtube.com/watch?v=J6EnYDraQRk
                    https://www.youtube.com/watch?v=9P0WIBCtKnE
                    https://www.youtube.com/watch?v=mJIOBGR1oYA
                    https://www.youtube.com/watch?v=R07VAYgBXmw
                    https://www.youtube.com/watch?v=7wQ7Iaper7Q
                    https://www.youtube.com/watch?v=GBxYjcJMhKE
                    https://www.youtube.com/watch?v=8DTXXX9MlUg
                    https://www.youtube.com/watch?v=PXsEtHzvhlc
                #}
                {# Videos (YOUTUBE) #}
                {# Redes Sociales, #somosmaslosbuenos  #}
                {# INCLUIR TODOS LOS LINKS PARA VER LOS VIDEOS DIRECTAMENTE EN www.nupali.org/... #}
            </div>
        </div>
    </div>
</section>
<section id="portfolio1-1" class="p-y-md" data-block="galeria">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Galeria.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/DResultados-Paseos-2015.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/DResultados-Paseos-2015.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/G0161612.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/G0161612.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/G0171620.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/G0171620.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/ILOCAZION-2.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/ILOCAZION-2.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_0758.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_0758.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_0777.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_0777.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_0813.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_0813.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_0905.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_0905.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/img_1000.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/img_1000.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_1076.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_1076.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_1585.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_1585.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_1586.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_1586.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_1776.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_1776.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_1780.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_1780.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_1784.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_1784.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_1800.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_1800.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2000.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2000.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_20001.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_20001.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_20002.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_20002.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2822.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2822.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2895.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2895.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2911.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2911.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2936.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2936.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2951.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2951.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2958.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2958.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2962.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2962.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2963.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2963.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2971.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2971.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2979.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2979.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_2992.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_2992.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_3187.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_3187.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_3214.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_3214.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_3339.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_3339.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_3359.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_3359.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/IMG_3371.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/IMG_3371.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/JDOMO.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/JDOMO.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/LAMINA-1.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/LAMINA-1.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/LAMINA-2.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/LAMINA-2.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOS62.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOS62.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1227PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1227PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1296PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1296PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1305PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1305PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1313PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1313PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1321PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1321PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1334PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1334PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1343PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1343PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1371PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1371PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1381PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1381PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1391PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1391PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1416PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1416PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1426PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1426PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1657PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1657PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1665PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1665PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1701PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1701PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1725PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1725PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1771PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1771PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1785PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1785PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSIMG_1792PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSIMG_1792PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS-100PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS-100PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS-105PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS-105PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS-106PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS-106PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS001PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS001PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS01PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS01PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS101PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS101PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS11PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS11PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS12PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS12PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS13PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS13PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS14PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS14PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS15PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS15PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS16PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS16PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS17PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS17PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS18PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS18PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS20PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS20PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS21PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS21PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS22PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS22PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS26PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS26PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS29PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS29PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS2PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS2PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS39PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS39PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS3PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS3PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS40PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS40PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS44PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS44PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS46PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS46PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS47PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS47PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS48PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS48PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS4APASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS4APASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS4BPASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS4BPASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS4PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS4PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS50PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS50PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS53PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS53PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS54PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS54PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS55RPASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS55RPASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS56PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS56PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS59PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS59PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS5PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS5PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS60PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS60PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS61PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS61PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS63PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS63PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS64PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS64PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS66PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS66PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS67PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS67PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS69PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS69PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS6APASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS6APASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS6PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS6PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS70PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS70PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS71PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS71PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS72PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS72PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS73PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS73PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS74PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS74PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS75PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS75PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS7APASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS7APASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS7PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS7PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS80PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS80PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS81PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS81PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS82PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS82PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS84PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS84PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS85PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS85PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS86PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS86PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS87PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS87PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS88PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS88PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS8APASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS8APASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS8PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS8PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS90PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS90PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOS9PASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOS9PASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSPASEOSPASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSPASEOSPASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSSUELOSPASEOS.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSSUELOSPASEOS.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSSUELOSPASEOS1.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSSUELOSPASEOS1.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSSUELOSPASEOS2.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSSUELOSPASEOS2.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSSUELOSPASEOS3.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSSUELOSPASEOS3.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/PASEOSSUELOSPASEOS4.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/PASEOSSUELOSPASEOS4.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/QUE-PERCIBES-10.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/QUE-PERCIBES-10.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/QUE-PERCIBES-9.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/QUE-PERCIBES-9.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/Screen-Shot-2015-11-16-at-11.19.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/Screen-Shot-2015-11-16-at-11.19.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/Screen-Shot-2015-11-16-at-11.20.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/Screen-Shot-2015-11-16-at-11.20.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/Screen-Shot-2015-11-16-at-11.23.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/Screen-Shot-2015-11-16-at-11.23.jpg" alt="image">
                        </a>
                    </li>
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/Screen-Shot-2015-11-16-at-11.24.jpg" class="swipebox" title="Street">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/Screen-Shot-2015-11-16-at-11.24.jpg" alt="image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md" data-block="redes-sociales">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Redes sociales.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="https://www.facebook.com/paseosporlaigualdad/" target="_blank" class="this-button red-social facebook" title="Street">
                            <span>
                                <i class="fa fa-facebook"></i>
                            </span>
                            Facebook
                        </a>
                    </li>
                    <li class="box">
                        <a href="https://www.instagram.com/paseosporlaigualdad/?hl=en" target="_blank" class="this-button red-social instagram" title="Street">
                            <span>
                                <i class="fa fa-instagram"></i>
                            </span>
                            Instagram
                        </a>
                    </li>
                    <li class="box">
                        <a href="https://www.youtube.com/watch?v=R5w9I_TZNwQ" target="_blank" class="this-button red-social youtube" title="Street">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                            Youtube
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <style type="text/css">
            .box .this-button {
                display: inline-block;
                height: 50px;
                line-height: 50px;
                padding-right: 30px;
                padding-left: 70px;
                position: relative;
                background-color:rgb(41,127,184);
                color:rgb(255,255,255);
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 15px;


                border-radius: 2px;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                text-shadow:0px 1px 0px rgba(0,0,0,0.5);
                -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
                filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

                -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
                -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
                box-shadow:0px 2px 2px rgba(0,0,0,0.2);
                -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
                filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
            }
            .box .this-button span {
                position: absolute;
                left: 0;
                width: 50px;
                background-color:rgba(0,0,0,0.5);

                -webkit-border-top-left-radius: 5px;
                -webkit-border-bottom-left-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-bottomleft: 5px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-right: 1px solid  rgba(0,0,0,0.15);
            }
            .box .this-button span i {
                padding: 0 19px;
            }
            .box .this-button:hover span, .box .this-button.active span {
                  background-color:rgb(0,102,26);
                  border-right: 1px solid  rgba(0,0,0,0.3);
            }
            .box .this-button:active {
                margin-top: 2px;
                margin-bottom: 13px;

                -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
                -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
                box-shadow:0px 1px 0px rgba(255,255,255,0.5);
                -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
                filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true);
            }
            .box .this-button,
            .box .this-button span {
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }
            .box .this-button.red-social.facebook {
                background: #3B5998;
            }
            .box .this-button.red-social.instagram {
                background: #8a3ab9;
            }
            .box .this-button.red-social.youtube {
                background: #f45750;
            }
            .box .this-button.red-social.facebook:hover,
            .box .this-button.red-social.facebook:active,
            .box .this-button.red-social.facebook:focus,
            .box .this-button.red-social.facebook.active {
                background-color: #3b5998e6;
            }
            .box .this-button.red-social.facebook:hover span,
            .box .this-button.red-social.facebook:active span,
            .box .this-button.red-social.facebook:focus span,
            .box .this-button.red-social.facebookactive span {
                background: #3B5998;
            }
            .box .this-button.red-social.instagram:hover,
            .box .this-button.red-social.instagram:active,
            .box .this-button.red-social.instagram:focus,
            .box .this-button.red-social.instagram.active {
                background: #8a3ab9e6;
            }
            .box .this-button.red-social.instagram:hover span,
            .box .this-button.red-social.instagram:active span,
            .box .this-button.red-social.instagram:focus span,
            .box .this-button.red-social.instagramactive span {
                background: #8a3ab9;
            }
            .box .this-button.red-social.youtube:hover,
            .box .this-button.red-social.youtube:active,
            .box .this-button.red-social.youtube:focus,
            .box .this-button.red-social.youtube.active {
                background: #f45750e6;
            }
            .box .this-button.red-social.youtube:hover span,
            .box .this-button.red-social.youtube:active span,
            .box .this-button.red-social.youtube:focus span,
            .box .this-button.red-social.youtubeactive span {
                background: #f45750;
            }
            .box .this-button.orange {
                 background: #FF7F00;
            }
            .box .this-button.purple {
                background: #8e44ad;
            }
            .box .this-button.turquoise {
                 background: #1abc9c;
            }
            .box .this-button.red {
                background: #e74c3c;
            }
        </style>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md" data-block="dossier">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Dossier.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a href="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/pdf/DossierPaseosporlaIgualdad-Jalisco.pdf" class="" target="_blank" title="Street" >
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/dossier-paseos-por-la-igualdad.jpg" alt="image">
                            <p class="monako">Dossier Paseos por la igualdad.</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md" data-block="resultados">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Resultados.</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=J6EnYDraQRk">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/paseos-por-la-igualdad-historias-vida.jpg" alt="image">
                            <p class="monako">Paseos por la igualdad, Historias y vida.</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=9P0WIBCtKnE">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/paseos-por-la-igualdad-resumen.jpg" alt="image">
                            <p class="monako">PASEOS POR LA IGUALDAD Resumen</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=mJIOBGR1oYA">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/testimonial-8.jpg" alt="image">
                            <p class="monako">Testimonial 8</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=R07VAYgBXmw">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/paseos-por-la-igualdad-entrevista-1.jpg" alt="image">
                            <p class="monako">Entrevista Paseos Por la Igualdad 1</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=7wQ7Iaper7Q">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/spot-a-rodar-por-la-vida.jpg" alt="image">
                            <p class="monako">Spot A Rodar la Vida</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=GBxYjcJMhKE">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/mas-alla-de-las-sombras-2016.jpg" alt="image">
                            <p class="monako">Más allá de las sombras 2016</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=8DTXXX9MlUg">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/experiencia-en-movimiento-1.jpg" alt="image">
                            <p class="monako">Experiencias en Movimiento 1</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="swipebox-video" rel="youtube" href="https://www.youtube.com/watch?v=PXsEtHzvhlc">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/paseos-por-la-igualdad-resumen-2.jpg" alt="image">
                            <p class="monako">Resumen Paseos por la igualdad</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<section id="portfolio1-1" class="p-y-md" data-block="noticias">
    <div class="container">
        <div class="row">
            <div class="wrap small-width">
                <h3 class="monako">Noticias</h3>
                <hr>
                <div id="try"></div>
                <ul id="box-container">
                    <li class="box">
                        <a class="enlace" href="http://udgtv.com/noticias/jalisco/presentan-programa-paseos-por-la-igualdad-para-conocer-la-discapacidad/" target="_blank">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/paseos-por-la-igualdad-conociendo-discapacidad.jpg" alt="image">
                            <p class="monako">Paseos por la igualdad, conociendo la discapacidad.</p>
                        </a>
                    </li>
                    <li class="box">
                        <a class="enlace" href="https://www.facebook.com/c7.jalisco/videos/537834166382255/?autoplay_reason=all_page_organic_allowed&video_container_type=0&video_creator_product_type=2&app_id=2392950137&live_video_guests=0" target="_blank">
                            <img src="{{ _host }}img\assets\proyectos\paseos-por-la-igualdad/thumb/c7-jalisco-noticia-01.jpg" alt="image">
                            <p class="monako">C7 Jalisco</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /End Container -->
</section>
<!-- /End Portfolio Section -->
<style type="text/css">
    .small-width {
        max-width: 740px;
    }

    .wrap {
        margin: 0 auto;
        max-width: 1140px;
        width: 92%;
    }

    #box-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .box:nth-child(4n+1) {
        clear: both;
        margin-left: 0;
    }
    .box {
        list-style-type: none;
        float: left;
        margin-bottom: 1rem;
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
    .box a {
        display: block;
        width: 100%;
        height: auto;
    }
    .box a img {
        -webkit-back-visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    body .box a  img {
        opacity: 1 !important;
    }
    .box a>img {
        -webkit-backface-visibility: hidden;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        -ms-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }
    .box a img {
        max-width: 100%;
        height: auto;
    }
    .box a img {
        border: 0;
    }
    .box a p {
        font-size: 20px;
        color: rgba(12, 165, 228, 0.6588235294117647);
        font-weight: bold;
        text-align: center;
        margin: 13px auto;
    }
</style>